<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>This is a heading</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>this is heading 2</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p style="color: red">This is a paragraph</p>
        </div>
        <div class="col-md-6">
            <p style="color: red">This is a different one!</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6" style="background: gray">
            <div class="row">
                <div class="col-md-6" style="background: blueviolet">
                    <p>asdf</p>
                </div>
                <div class="col-md-6">
                    <p>asqweqwedf</p>
                </div>
            </div>
            <p style="color: red">This is a paragraph</p>

        </div>
        <div class="col-md-6" style="background: green">
            <p style="color: red">This is a different one!</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1>Another H1 Heading</h1>
            <h2>Another H2 heading</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-3" style="background-color: aquamarine">
            <p>this is offset</p>
        </div>
    </div>

</div>

</body>
</html>