<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>This is a heading</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>this is heading 2</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p style="color: red">This is a paragraph</p>
            </div>
            <div class="col-md-6">
                <p style="color: red">This is a different one!</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6" style="background: gray">
                <div class="row">
                    <div class="col-md-6" style="background: blueviolet">
                        <p>asdf</p>
                    </div>
                    <div class="col-md-6">
                        <p>asqweqwedf</p>
                    </div>
                </div>
                <p style="color: red">This is a paragraph</p>

            </div>
            <div class="col-md-6" style="background: green">
                <p style="color: red">This is a different one!</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h1>Another H1 Heading</h1>
                <h2>Another H2 heading</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-3" style="background-color: aquamarine">
                <p>this is offset</p>
            </div>
        </div>

    </div>


    <script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>